.asan-login-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: #0059ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
  width: 168px;
  height: 52px;
  transition: all 250ms;
  text-decoration: none;

  display: flex;
  justify-content: center;
  justify-items: center;
  transition: background-color 0.3s;
  &:hover {
    background: #0045c7;
  }
  & > img {
    object-fit: contain;
  }
}
