.light {
  --profile-page-title-color: #212121;
}

.dark {
  --profile-page-title-color: #b0b3b8;
}

.profile-page {
  height: 100%;
  width: 100% !important;

  &-title {
    color: var(--profile-page-title-color);
    text-align: center;
  }

  &-img-wrapper {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  &-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
