.employee-add-right {
  position: relative;
  overflow: hidden;
}

.employee-add-locked {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;

  & > svg {
    height: 90px;
    width: 90px;
  }
}

.btn-back-icon {
  height: 20px;
  width: 20px;
  fill: #fff;
  margin-right: 6px;
  transform: rotate(180deg);
}

.grecaptcha-badge {
  visibility: hidden;
}
